.addEvent {
	margin-left: 235px;
	font-size: 18px;
}

.eventButton {
    font-size: 18px;
    font-family: "Crimson Text", serif;
    background: #2D68C4;
    color: white;
    border-radius: 3px;
    margin: 5px 0px;
}

.addEventInput {
	font-size: 18px;
	font-family: "Crimson Text", serif;
	margin: 5px 0px;
}

.Cancellation {
    margin-top: 20px;
}

.eventForm {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.dateForm {
    display: flex;
    justify-content: space-between;
    width: 309px;
}

.timeForm {
    display: flex;
    justify-content: space-between;
    width: 262px;
}