   /* VARIABLES */
  
   :root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    --neutral-color: #fff;
  }
 
 
 /* GENERAL */
  
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif; /* add 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', before sans-serif */
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1 px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 200%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: auto;
  margin-top: 2em;
  max-width: 100em;
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  grid-column-gap: 15px;
}

.main_item_search {
  background: #f9f9f9;
  /* might need to add margin from the top of the item box */
}

/* Images */

.b_logo{
  height: 40px;
  width: 30px;
}

.larger{
  font-size: larger;
}

